<div
  class="multiselect-option"
  tabindex="0"
  (click)="multiselectComponent.toggleAddOn(addOn)"
  [ngClass]="{
    selected: multiselectComponent.isSelected(addOn)
  }"
>
  <label class="container">
    <input type="checkbox" [checked]="multiselectComponent.isSelected(addOn)" />
    <span class="checkmark"></span>
  </label>

  <div class="middle-part">
    <h4>{{ addOn.name }}</h4>
    <p>{{ addOn.description }}</p>
  </div>

  <span class="price">
    {{
      subscriptionType === "monthly" ? addOn.priceMonthly : addOn.priceYearly
    }}
  </span>
</div>
