.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary {
    font-size: 1rem;
    padding: 0.75rem 0;
    background-color: transparent;
    color: hsl(213, 96%, 18%);
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

.primary {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    color: #fff;
    background-color: hsl(213, 96%, 18%);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;

    &:disabled {
        background: hsla(213, 96%, 18%, 70%);
        cursor: not-allowed;
    }
}